.createcard:hover {
  background-color: rgb(243, 243, 243);
  cursor: pointer;
}

.purple-border .form-control:focus {
  border: 1px solid #ba68c8;
  box-shadow: 0 0 0 0.2rem rgba(186, 104, 200, 0.25);
}

h2 {
  color: #272121d5;
}

@media (max-width: 425px) {
  .sc-htpNat {
    display: block !important;
    width: 100%;
  }

  .sc-bwzfXH {
    margin-bottom: 30px;
    margin-right: 0px !important;
    width: 100%;
  }

  #card {
    width: auto !important;
  }
}
